@model EmpDeptProject.Models.Models.Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Department</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

         
         <div class="mb-3">
            <label asp-for="DepartmentName"></label> 
            <input asp-for="DepartmentName" class="form-control" />
         </div>
         <button type="submit" class="btn btn-primary" style="width:100px">Create</button>
         <a asp-controller="Departments" asp-action="Index" class="btn btn-primary">Back</a>

    </div>
</form>

@section Scripts {
                  <partial name="_ValidationScriptsPartial.cshtml"/>
  }